.form-headings {
    font-size: 20px;
}
.add-form input{
    font-size: 20px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

.add-form select{
    font-size: 20px;
    padding: 10px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
}
.add-form button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(37, 194, 194);
    border: none;
    border-radius: 5px;
    color: white;
}
.add-form button:hover {
    background-color: teal;
}