.job-card {
  height: 180px;
  width: 300px;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  background-color: #21D19F;
  color: black;
}
.card-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-head button{
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}