nav{
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}
nav li {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}
nav li:hover {
    background-color: #ddd;
    color: black;
}