nav{
    color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
nav li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}
nav li:hover {
    background-color: black;
    color: white;
}