body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: black;
}
.filter-btn{
    margin: 0px 50px;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.filter{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}